@import './../../styles/base';

.input_wrapper{
  margin-bottom: 50px;
  position: relative;
  width: 380px;

  .input {
      width: 100%;
      border: 1px solid #E4E3E3;
      border-radius: 5px;
      height: 54px;
      @include primeFont($black);
      padding: 14px 16px;
    }
    
    .input:invalid + .label {
      position: absolute;
      top: 60px;
      left:10px;
      @include primeFont(#CB3D40);
      font-size: 13px;
      line-height: normal;
      visibility: visible;
    }

    .input:valid + .label {
      position: absolute;
      top: 60px;
      left:10px;
      visibility: hidden;
    }
}