@import './../../styles/base';

.card_box {
    position: relative;
    background-color: $white;
    min-width: 250px;
    text-align: center;
    border-radius: 8px;
    padding: 20px;

    @include media(tablets) {
        width: 100%;
    }

    .image_wrapper {
        margin-bottom: 20px;
        text-align: center;
    }

    .image {
        border-radius: 50%;
        height: 70px;
        width: 70px;
    } 
    
    .text_box {
        margin-top: 20px;
    }
}